!!!5
html(lang="zh-TW")
  head
    title Twitter Heapmap
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //link(rel='stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.css')
  body
    .container-fluid.main-content
      .row-fluid
        .span11.offset1
          .title Real-time Twitter Heatmap
          p.desc This is a demo for processing Twitter stream data. We prepare the pre-trained classifiers for 20 newsgroups. You can select one of those classifiers at left menu to show only certain type of tweets on the heatmap. Once you zoom in the map at certain level, you can see tokenized words from user tweets.
          p.desc Copyright (C) 2013 Liang-Chi Hsieh
      .row-fluid
        .span8.offset1
          block content
        .span3.terms
          h1.focus Focus terms:
          input(id="focus", autofocus)
          h1.type Tweet predicted type:
          select(id="show_label")
            option(value="", selected) All tweets
            option(value="alt.atheism") alt.atheism
            option(value="comp.graphics") comp.graphics
            option(value="comp.os.ms-windows.misc") comp.os.ms-windows.misc
            option(value="comp.sys.ibm.pc.hardware") comp.sys.ibm.pc.hardware
            option(value="comp.sys.mac.hardware") comp.sys.mac.hardware
            option(value="comp.windows.x") comp.windows.x
            option(value="misc.forsale") misc.forsale
            option(value="rec.autos") rec.autos
            option(value="rec.motorcycles") rec.motorcycles
            option(value="rec.sport.baseball") rec.sport.baseball
            option(value="rec.sport.hockey") rec.sport.hockey
            option(value="sci.crypt") sci.crypt
            option(value="sci.electronics") sci.electronics
            option(value="sci.med") sci.med
            option(value="sci.space") sci.space
            option(value="soc.religion.christian") soc.religion.christian
            option(value="talk.politics.guns") talk.politics.guns
            option(value="talk.politics.mideast") talk.politics.mideast
            option(value="talk.politics.misc") talk.politics.misc
            option(value="talk.religion.misc") talk.religion.misc
          h1.type Tweet sentiment type:
          select(id="show_sentiment")
            option(value="", selected) All sentiments
            option(value="positive") positive tweets
            option(value="negative") negative tweets
    footer
  script(src='/javascript/jquery-1.7.2.min.js', type='text/javascript')
  //script(src='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/bootstrap.min.js', type='text/javascript')
  script(src='/javascript/bootstrap.min.js', type='text/javascript')
  script(src='/javascript/app.js', type='text/javascript')
  script(src='/socket.io/socket.io.js', type='text/javascript')
  script(src='http://cdn.leafletjs.com/leaflet-0.4.4/leaflet-src.js', type='text/javascript')
  script(src='/javascript/heatmap.js', type='text/javascript')
  script(src='/javascript/heatmap-leaflet.js', type='text/javascript')
 
